* {
    box-sizing: border-box;
}

:root {
    --letter-green:   #6ca965;
    --letter-yellow:  #c8b653;
    --letter-gray:    #787c7f;
}

.body {
    background-color: #f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: darkgreen;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid black;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.word-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-top: 1px;
    gap: 5px;
}

.word {
    display: none;
    height: 0;
    width: 0;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.letter {
    border: lightgray solid 1px;
    aspect-ratio: 1 / 1;
    width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}

@keyframes wrong-word {
    5% {
        border-color: crimson;
    }
    100% {
        border-color: lightgray;
    }
}

@keyframes flip {
    100% {transform: rotate(360deg);}
}

@keyframes rumble {
    0% {translate: 5px;}
    50% {translate: -5px;}
    100% {translate: 0px;}
}

.letter.wrong-word {
    animation: wrong-word 1s;
}

.letter.rumble {
    animation: rumble 0.2s;
}

.letter.flip {
    animation: flip 1s;
}

.letter.correct {
    background-color: #6ca965;
    color: white;
}

.letter.misplaced {
    background-color: #c8b653;
    color: white;
}

.letter.wrong {
    background-color: #787c7f;
    color: white;
}

.letter.title {
    border: black solid 2px;
    aspect-ratio: 1 / 1;
    width: 36px;
    font-size: 24px;
    margin-left: 2px;
}
